.header {
  &__title {
    font-weight: initial;
  }
}

.heading {
  font-size: 0.8em;
}

.blog-post {
  &__container {
    h1,
    h2,
    h3 {
      font-weight: initial;
    }
  }

  &__content {
    h2 {
      border-bottom: 1px solid;
      border-bottom-color: lightgrey;
      padding-top: 3rem;
      padding-bottom: 1.5rem;
    }
    p {
      line-height: 1.8em;
    }
    ul li {
      margin-bottom: 1em;
    }
    .number {
      margin-right: initial;
    }
  }
}

.blog-navigation {
  line-height: 2em;
}
