.header {
  &__title {
    font-weight: initial;
  }
}

.blog-post {
  &__container {
    h1,
    h2,
    h3 {
      font-weight: initial;
    }
  }

  &__content {
    h2 {
      border-bottom: 1px solid;
      border-bottom-color: lightgrey;
      padding-top: 3rem;
      padding-bottom: 1.5rem;
    }
    ul p:not(:last-child) {
      margin-bottom: -0.25em;
    }
    .number {
      margin-right: initial;
    }
  }
}
